<div>
  <div class="container bg-gray shadow mt-5">
    <h4 class="text-center pt-5 text-blue">Interview-Questions</h4>

  <form  [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
      <div class="row col-md-12">
        <div class="row content col-md-12">
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <label class="mt-2">ServiceLine:</label>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <label class="mt-2">Competency:</label>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <label class="mt-2">SubCompetency:</label>
                  </div>
            </div>
        </div>
        <div class="row content col-md-12">


          <div class="col-sm-4">

                <kendo-combobox [data]="serviceLines" formControlName="subServiceLine" (valueChange)="onChangeServiceLine($event)" textField="subServicelineName"
                valueField="subServicelineId" [allowCustom]="false">
              </kendo-combobox>

          </div>
          <div class="col-sm-4">

                <kendo-combobox [data]="listCompetencies" formControlName="competency" (valueChange)="onChangeCompetency($event)" textField="competencyName"
                valueField="competencyId" [allowCustom]="false">
              </kendo-combobox>
          </div>
          <div class="col-sm-4">
              <kendo-combobox [data]="listSubCompetencies" formControlName="subCompetency" (valueChange)="onChangeSubCompetency($event)" textField="subCompetencyName"
                valueField="subCompetencyId" [allowCustom]="false">
              </kendo-combobox>
          </div>
        </div>
        <div class="row content col-md-12">
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <label class="mt-2">Topics:</label>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <label class="mt-2">SubTopics:</label>
                  </div>
            </div>

        </div>

        <div class="row content col-md-12">


            <div class="col-sm-4">

                <kendo-combobox [data]="listTopics" formControlName="topic" (valueChange)="onChangeTopic($event)" textField="topicName"
                   valueField="topicId" [allowCustom]="false">
                  </kendo-combobox>

            </div>
            <div class="col-sm-4">

                  <kendo-combobox [data]="listSubTopics" formControlName="subTopic"  textField="subTopicName" (valueChange)="onChangeSubTopic($event)"
                  valueField="subTopicId" [allowCustom]="false">
                 </kendo-combobox>
            </div>

            <div class="col-sm-4">
              <button type="button" [disabled]="this.userForm.invalid"class="btn mr-1" (click)="onAdd()">
                <i class="fa  fa-plus-circle"  aria-hidden="true"></i> Add
              </button>

              <button type="button" class="btn mr-1" (click)="onDelete()">
                <i class="fa fa-remove"  aria-hidden="true"></i> Delete
              </button>

            </div>



          </div>



        </div>
        <!-- <div class="col-sm-12 btn-group d-flex justify-content-end mb-3 pr-4">
          <div class="row mt-1">
              <button type="button" [disabled]="this.userForm.invalid"class="btn m-1" (click)="onAdd()">
                <i class="fa  fa-plus-circle"  aria-hidden="true"></i> Add
              </button>

              <button type="button" class="btn m-1" (click)="onDelete()">
                <i class="fa fa-remove"  aria-hidden="true"></i> Delete
              </button>

            </div>

      </div> -->
        <div class="row  col-md-12 mt-4 pr-0">
            <ag-grid-angular  #agGrid style="
                      height: 300px;
                      text-align: left;width: 100%"
                              class="ag-theme-balham-dark"  [rowData]="rowData"
                              [columnDefs]="columnDefs" [enableSorting]="true"  [pagination]="true"
                              [paginationPageSize]="20" [enableColResize]="true"
                              [rowSelection]="rowSelection"

                              [suppressRowClickSelection]="true"
                              [rowSelection]="rowSelection"
                               [singleClickEdit]="true"
                               (gridReady)="onGridReady($event)">
                          </ag-grid-angular>
        </div>
        <div class="row d-flex justify-content-end mr-3">
        <button type="button" [disabled]="isSaveDisbled()"class="btn mt-3" (click)="onSave()">
          <i class="fa fa-save"  aria-hidden="true"></i> Submit
        </button>
      </div>


  </form>


  </div>
</div>
