<div class="sidenav shadow-lg bg-sidenav">
  <!-- <div class="">
      <img class="logo" src="assets/images/EY_logo_white.png">
  </div> -->
  <div class="col-lg-12">

    <ul class="nav">
      <li class="active w-100 mb-3">
        <a routerLink='/interview-questions' data-toggle="tab">
          <button type="button" class="btn w-100 text-white font-20 br-bottom mb-4">
            <fa-icon [icon]="faQuestionCircle" class="float-left mr-2"></fa-icon>
            Interview-Questions
          </button>
        </a>
      </li>
      <li class="w-100 mb-3"><a routerLink='/admin' data-toggle="tab">
          <button type="button" class="btn  w-100 text-white font-20 br-bottom mb-4">
            <fa-icon [icon]="faUserCircle" class="float-left"></fa-icon>
            Admin
          </button>
        </a>
      </li>
      <li class="w-100 mb-3"><a routerLink='/interview-page' data-toggle="tab">
          <button type="button" class="btn w-100 text-white br-bottom font-20">
            <fa-icon [icon]="faFileAlt" class="float-left"></fa-icon>Interview-Status
          </button>
        </a>
      </li>
    </ul>
  </div>
</div>